<ion-header>
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="end">
      <ion-button color="primary" routerLink="/signup">
       Cadastre-se
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding ion-full-height ion-flex ion-flex-center">

    <div class="logo-container">
      <h1 class="logo-placeholder">$MB</h1>
      <p>Faça seu login aqui.</p>
    </div>

    <form class="form-default" [formGroup]="signin_form" (submit)="signIn()">

      <ion-list class="item-card-list" lines="none">
        <ion-item>
          <ion-label color="tertiary" position="stacked">Email</ion-label>
          <ion-input formControlName="email" type="email" autocomplete="off"
            placeholder="Seu e-mail"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top-small">
          <ion-label color="tertiary" position="stacked">Senha</ion-label>
          <ion-input formControlName="password" type="password" placeholder="Sua senha"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button class="ion-margin-top" type="submit" expand="block" color="primary">
        Entrar
      </ion-button>

      <ion-button color="primary" fill="clear" expand="block" class="ion-button-small ion-margin-top-medium" routerLink="/password-reset">
        Esqueceu a senha?
      </ion-button>
    </form>

    <div class="ion-text-center ion-margin-top">
      <ion-text color="medium">
        <small>&copy; {{current_year}} $MB.</small>
      </ion-text>
    </div>

  </div>

</ion-content>