<ion-content>
  <swiper class="swiper-welcome" #swiper [config]="config" (slideChange)="swiperSlideChanged($event)"
    (reachEnd)="onLastSlide()">
    <ng-template swiperSlide>
      <ion-icon name="card" class="animate__animated animate__fadeInDown"></ion-icon>
      <h3 class="animate__animated animate__fadeInUp">Toda sua vida financeira<br>Em um só lugar</h3>
      <p class="animate__animated animate__fadeInUp">Torne sua vida mais simples.</p>
    </ng-template>
    <ng-template swiperSlide>
      <ion-icon name="sync"></ion-icon>
      <h3>Sincronize<br>Com o seu dia a dia</h3>
      <p>Qualquer descrição aqui.</p>
    </ng-template>
    <ng-template swiperSlide>
      <ion-icon name="stats-chart"></ion-icon>
      <h3>O controle<br>na sua mão</h3>
      <p>Qualquer descrição aqui.</p>
    </ng-template>
  </swiper>
</ion-content>

<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp">
  <ion-button class="ion-margin" expand="block" (click)="nextSlide()" *ngIf="!last_slide">
    Próximo
  </ion-button>
  <ion-button class="ion-margin" expand="block" (click)="getStarted()" *ngIf="last_slide">
    Iniciar
  </ion-button>
</ion-footer>