<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        Cancelar
      </ion-button>
    </ion-buttons>
    <ion-title>
     Adicionar Conta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">

    <form class="form-default" [formGroup]="add_card_form" (submit)="save()">

      <ion-list class="item-card-list" lines="none">
        <ion-item>
          <ion-label color="tertiary" position="stacked">Instituição</ion-label>
          <ion-input formControlName="card_number" placeholder="Banco, investimento..." type="text" minlength="13" maxlength="22" inputmode="numeric" (ionChange)="formatCreditCardNumber($event)"></ion-input>
        </ion-item>
        <ion-text *ngIf="!add_card_form.controls.card_number.valid && submit_attempt" color="danger">
          <small class="error-message-form">Preencha a instituição.</small>
        </ion-text>

        <ion-item>
          <ion-label color="tertiary" position="stacked">Conta</ion-label>
          <ion-input formControlName="expiry_date" placeholder="00000 000" type="text" minlength="5" maxlength="5" inputmode="numeric" length="5" (ionChange)="formatExpiryDate($event)"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="tertiary" position="stacked">Agência</ion-label>
          <ion-input formControlName="expiry_date" placeholder="000-0" type="text" minlength="5" maxlength="5" inputmode="numeric" length="5" (ionChange)="formatExpiryDate($event)"></ion-input>
        </ion-item>        
        <ion-text *ngIf="!add_card_form.controls.expiry_date.valid && submit_attempt" color="danger">
          <small class="error-message-form">Preencha a agência.</small>
        </ion-text>

        <ion-item>
          <ion-label color="tertiary" position="stacked">Tipo</ion-label>
          <ion-input formControlName="cvv" placeholder="Investimento, principal, exterior..." type="tel" pattern="[0-9]*" maxlength="30" inputmode="numeric"></ion-input>
        </ion-item>
        <ion-text *ngIf="!add_card_form.controls.cvv.valid && submit_attempt" color="danger">
          <small class="error-message-form">Preencha o tipo da conta.</small>
        </ion-text>

      </ion-list>

    </form>

  </div>

</ion-content>

<ion-footer class="modal-footer" collapse="fade">
  <ion-toolbar>
    <form class="form-default" [formGroup]="add_card_form" (submit)="save()">
      <ion-button type="submit" expand="block" color="primary">
        Salvar Conta
      </ion-button>
    </form>
  </ion-toolbar>
</ion-footer>